<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="true">

  <!-- To save as "ebookshop\WEB-INF\web.xml" -->

  <!--servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>SearchServlet</servlet-class>
  </servlet-->

   <servlet>
    <servlet-name>SearchMultiValueParameter</servlet-name>
    <servlet-class>SearchMultiValueParamServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>AccountRegistration</servlet-name>
      <servlet-class>RegisterServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>AccountLogin</servlet-name>
      <servlet-class>LoginServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>AccountLogout</servlet-name>
      <servlet-class>LogoutServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>PlanDetails</servlet-name>
      <servlet-class>PlanDetailsServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>UserCheckOut</servlet-name>
      <servlet-class>CheckOutServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>Index</servlet-name>
      <servlet-class>MainServlet</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>Purchase</servlet-name>
      <servlet-class>PurchaseServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Account</servlet-name>
      <servlet-class>AccountManagementServlet</servlet-class>
  </servlet>
  <!-- Note: All <servlet> elements must be placed
       in front of <servlet-mapping> elements -->

  <!--servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping-->

  <servlet-mapping>
    <servlet-name>SearchMultiValueParameter</servlet-name>
    <url-pattern>/searchmvp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountRegistration</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlanDetails</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserCheckOut</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Purchase</servlet-name>
    <url-pattern>/purchase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>

</web-app>